@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* [id="meet-the-team"]{
  padding: 0;
  margin: 0;
}

body [id="meet-the-team"]{
  background-color: #313638;
  font-family: "Poppins", sans-serif;
}

.container [id="meet-the-team"]{
  
  color: white;
}

.heading [id="meet-the-team"]{
  font-size: 40px;
  color: red;
}

.heading span [id="meet-the-team"]{
  font-style: italic;
  font-size: 30px;
}

.profiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 80px 80px;

}

.profile {
  flex-basis: 25%;

  
}

.profile .profile-img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  filter: grayscale(0%);
  cursor: pointer;
  transition: 200ms;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.profile:hover .profile-img {
  filter: grayscale(0);
}

.user-name {
  margin-top: 30px;
  font-size: 20px;
  color: #ccc;
  text-align: center;
}

.profile h5 {
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 3px;
  color: #ccc;
}

.profile p {
  font-size: 16px;
  margin-top: 20px;
  text-align: justify;
}


.meet-the-team-heading {
  padding-top: 20px;
  font-size: 25px;
  color: #ccc;
}

@media only screen and (max-width: 1150px) {
  .profiles {
    flex-direction: column;
  }

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile p {
    text-align: center;
    margin: 20px 60px 80px 60px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 900px) {
  .heading {
    font-size: 40px;
    color: white;
    text-align: center;
  }

  .heading span {
    font-size: 15px;
  }

  .profiles {
    margin: 20px 0;
  }

  .profile p {
    margin: 20px 10px 80px 10px;
  }
}

@media only screen and (min-width: 1150px) {
  .profile {
    margin-bottom: 30px;
  }
}
